{% extends "layout.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/home.css') }}">

<div class="home-header">
  <div class="home-header__brand osm-contained">
    <div>
      <img src="{{ url_for('static', filename='images/osm_lab_logo.png') }}" />
    </div>
    <h2 class="home-header__brand__description">
        The Open Source Macroeconomics Laboratory (OSM Lab) at the University of Chicago
        provides training and supports macroeconomic research and open source methods.
    </h2>
  </div>
  <div class="home-header__slideshow">
    sliideshow
  </div>
</div>

<div class="latest-section">
  <h3 class="latest-section__heading">Latest from OSM Lab</h3>

  <div class="latest-section__cards-container">
    <div class="latest-section__card">
      <h4 class="latest-section__card__heading">OSM boot camp 2018</h4>
      <p class="latest-section__card__body-content">
          Applications for the 2018 OSM lab bootcamp are open and applicants can apply
          at any time. We are happy to announce new scholarships this year and are excited
          to read a lot of neat applications like the ones that...
      </p>
      <p class="latest-section__card__body-content">
        <a href="#" class="latest-section__card__link">
          Continue reading <span class="latest-section__card__arrow">&rarr;</span>
        </a>
      </p>
    </div>

    <div class="latest-section__card">
      <h4 class="latest-section__card__heading">OSM boot camp 2018</h4>
      <p class="latest-section__card__body-content">
          Applications for the 2018 OSM lab bootcamp are open and applicants can apply
          at any time. We are happy to announce new scholarships this year and are excited
          to read a lot of neat applications like the ones that...
      </p>
      <p class="latest-section__card__body-content">
        <a href="#" class="latest-section__card__link">
          Continue reading <span class="latest-section__card__arrow">&rarr;</span>
        </a>
      </p>
    </div>

    <div class="latest-section__card">
      <h4 class="latest-section__card__heading">OSM boot camp 2018</h4>
      <p class="latest-section__card__body-content">
          Applications for the 2018 OSM lab bootcamp are open and applicants can apply
          at any time. We are happy to announce new scholarships this year and are excited
          to read a lot of neat applications like the ones that...
      </p>
      <p class="latest-section__card__body-content">
        <a href="#" class="latest-section__card__link">
          Continue reading <span class="latest-section__card__arrow">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
