<!DOCTYPE html>

<head>
  <title>Open Source Macroeconomic Laboratory</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='shared/favicon.ico') }}">
</head>

<html>
  <body>

    <nav class="navbar navbar-default og-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='shared/osm-icon.png') }}"/>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/bootcamp">Boot Camp</a>
          </li>
          <li>
            <a href="/gallery">Gallery</a>
          </li>
          <li>
            <a href="/open-source">Open Source Projects</a>
          </li>
          <li>
            <a class="navbar-brand" target="_blank" href="https://github.com/OpenSourceMacro/OGvisualizations">
              <img src="{{ url_for('static', filename='shared/github-icon.png') }}"/>
            </a>
          </li>
          <li>
            <a class="navbar-brand" target="_blank" href="https://twitter.com/OpenSourceMacro">
              <img src="{{ url_for('static', filename='shared/twitter-icon.png') }}"/>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="fixed_footer">
      <div class="content">
        <h3>Open Source Macroeconomics Laboratory</h3>
      </div>
    </footer>

  </body>
</html>
