{% from 'components/floating_arrow_link.html' import floating_arrow_link %}

{% from 'components/gallery_item.html' import gallery_item %}
{% from 'components/home_card.html' import home_card %}
{% from 'components/home_slide.html' import home_slide %}
{% from 'components/slideshow_arrows.html' import slideshow_arrows %}
{% from 'components/slideshow_pips.html' import slideshow_pips %}
{% from 'components/page_heading.html' import page_heading %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The Open Source Macroeconomics Laboratory (OSM Lab) at the University of Chicago provides training and supports macroeconomic research and open source methods." />

  <title>{{ title }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">


  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="{{ url_for('static', filename='chicago_wordmark.svg') }}">
  <meta property="og:description" content="The Open Source Macroeconomics Laboratory (OSM Lab) at the University of Chicago provides training and supports macroeconomic research and open source methods.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@OpenSourceMacro">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="The Open Source Macroeconomics Laboratory (OSM Lab) at the University of Chicago provides training and supports macroeconomic research and open source methods.">
  <meta name="twitter:image" content="{{ url_for('static', filename='chicago_wordmark.svg') }}">

  {% assets 'stylesheets' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
</head>

<html>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light osm-nav container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/osm_lab_wordmark.png') }}"/>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item osm-nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>

          <li class="nav-item osm-nav-item">
            <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="osm-main">
      {% block body %}{% endblock %}
    </main>

    <footer class="osm-footer">
      <div class="footer-container">
        <img
          alt="University of Chicago"
          class="img-fluid osm-footer__logo"
          src="{{ url_for('static', filename='images/chicago_wordmark.svg') }}"
        />

        <div class="osm-footer__icons-container">
          <a href="https://twitter.com/OpenSourceMacro" target="_blank">
            <img
              alt="OSM Lab on Twitter"
              class="osm-footer__icon"
              src="{{ url_for('static', filename='images/twitter_icon.svg') }}"
            />
          </a>

          <a href="https://github.com/OpenSourceMacro" target="_blank">
            <img
              alt="OSM Lab on GitHub"
              class="osm-footer__icon"
              src="{{ url_for('static', filename='images/github_icon.svg') }}"
            />
          </a>
        </div>

        <p class="osm-footer__subtext"><small>&copy; {{ now.year }} The University of Chicago</small></p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% assets 'javascripts' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
