.home-header {
  display: flex;
  height: calc(100vh - 60px);
  margin-top: -60px;
  min-height: 450px;
}

.home-header__brand {
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 80px;
}

.home-header__brand__description {
  color: #75140C;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 26px;
  max-width: 450px;
  padding-top: 20px;
}

.home-header__slideshow {
  background: #ddd;
  flex: 0 0 55%;
}

.home-header__slide {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  padding: 0 80px;
  position: relative;
  width: 100%;
}

.home-header__slide:before {
  bottom: 0;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.home-header__slide--transparent:before {
  background: transparent;
}

.home-header__slide--red {
  color: white;
}

.home-header__slide--red:before {
  background: #75140C;
  opacity: 0.5;
}

.home-header__slide__content {
  max-width: 450px;
  z-index: 1;
}

.home-header__slide__title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
}

.latest-section {
  background: #F7F7FA;
  padding: 75px 80px;
}

.latest-section__heading {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.38px;
  margin-bottom: 30px;
}

.latest-section__cards-container {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 800px) {
  .latest-section__cards-container {
    flex-wrap: wrap;
  }
}
