{% extends "layout.html" %}

{% block body %}
{{
  page_heading(
    title="About OSM Lab"
  )
}}

<div class="container py-4">
  <div class="about__text-container">
    <h3 class="py-4">
      The Open Source Macroeconomics Laboratory (OSM Lab) at the University of Chicago provides
      training and supports macroeconomic research and open source methods.
    </h3>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, ducimus? Saepe cupiditate
      porro voluptatibus nisi ex tenetur, reiciendis corporis culpa nostrum repudiandae minima optio
      enim nulla ducimus nesciunt officiis molestias.
    </p>
  </div>
</div>
{% endblock %}
