body {
  background-color: #ffffff;
}

.og-navbar {
  background-color: #8b0021;
}

.feature {
  background-color: #ffffff;
  padding: 20px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
}

.feature:hover {
  text-decoration: none;
}

.feature-picture {
}

.feature-article {
  color: #333;
}
