.floating-arrow-link {
  color: #2B2B2B;
  font-weight: 500;
  transition: color 0.15s;
}

.floating-arrow-link:hover {
  color: #75140C;
  text-decoration: none;
}

.floating-arrow-link__arrow {
  display: inline-block;
  font-family: monospace;
  font-size: 16px;
  transition: transform 0.15s;
}

.floating-arrow-link:hover .floating-arrow-link__arrow {
  transform: translate3d(3px, 0, 0);
}
