.home-card {
  flex: 0 0 calc(33.333% - 5px);
  margin-left: -15px;
}

@media all and (max-width: 800px) {
  .home-card {
    flex: 0 0 100%;
    margin-bottom: 25px;
  }

  .home-card:last-of-type {
    margin-bottom: 0;
  }
}

.home-card__content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  padding: 30px;
}

.home-card__heading {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin: 0;
}

.home-card__body-content {
  font-size: 14px;
  letter-spacing: 0.22px;
  line-height: 22px;
  margin: 14px 0 0;
}
