{% extends "layout.html" %}
{% block body %}
{{
  page_heading(
    title="Postponed: 2020 Open Source Economics Laboratory (OSE Lab) Boot Camp",
    body="Postponed until summer 2021 | Pending funding"
  )
}}

<div class="py-4 container">
  <!-- <p><strong>The deadline to apply is March 15, 2019.</strong></p> -->

  <!-- <p><strong>The application period for 2019 is now closed.</strong></p> -->

  <!-- <a href="{{ url_for('bootcamp_application_form') }}" class="btn btn-success btn-lg mb-4">
    Begin Application
  </a> -->

  <p>
    We are sorry to announce that OSE Lab will not be hosting the boot camp this summer 2020 due to our funding not being renewed. We are grateful for the generous support of the Charles Koch Foundation and University of Chicago over the last three years. OSE Lab will be searching for new funding for a summer 2021 boot camp and beyond. In the meantime, OSE Lab will continue to support its current research initiatives and student researchers. Thanks to all the students, instructors, and staff who have made the OSE Lab such a stimulating and collaborative network over the last three years. We look forward to continued future developments.
  </p>

  <h3 class="mt-5">More information</h3>

  <p>To read comments from students who completed the OSE Lab Boot Camp in past years, <a href="{{ url_for('bootcamp_comments') }}">click here</a>.</p>
  <p>To read a list of answers to frequently asked questions, <a href="{{ url_for('faq') }}">click here</a>.</p>
  <p>
    If the FAQ section does not answer your questions,
    you can direct any questions to <a href="mailto:rwevans@uchicago.edu">Richard Evans</a>
    or <a href="mailto:simon.scheidegger@unil.ch">Simon Scheidegger</a>.
  </p>
</div>


{% endblock %}
