html, body{
  background: #F7F7F7;
}

.og-navbar {
  background-color: #8b0021;
}

.feature {
  background-color: #ffffff;
  padding: 20px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
}

.feature:hover {
  text-decoration: none;
}

.feature-picture {
}

.feature-article {
  color: #333;
}

.carousel img{
  height: 40%;
  width: 50%;
}

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
}

.content{
  /* width: 850px; */
  /* margin: auto; */
  margin-bottom: 150px; /* Same height as footer */
  /* padding: 100px 0; */
}

.fixed_footer{
  width: 100%;
  height: 150px;
  background: #4d4d4d;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
}
   .fixed_footer h3{
    color: #adadad;
    column-count: 2;
    column-gap: 50px;
  }
