body {
  background: #fff;
  color: #2B2B2B;
  font-family: Roboto, Helvetica, Arial, sans;
}

.text-chicago {
  color: #75140C;
  transition: color 0.3s;
}

.highlight {
  background: #F4F4F4;
  border-radius: 4px;
  padding: 20px 20px 10px;
}

.text-chicago:focus,
.text-chicago:hover,
.text-chicago:active {
  color: #b9554d;
  text-decoration: none;
}

.ose-nav {
  padding: 10px 80px;
  z-index: 10;
}

.ose-nav-item {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ose-footer {
  background: #75140C;
  color: #fff;
  padding: 100px 120px 80px;
}

.ose-footer__icons-container {
  margin: 25px 0 20px 0;
}

.ose-footer__icon {
  margin-right: 10px;
  width: 28px;
}

.ose-footer__subtext {
  letter-spacing: 0.2px;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .ose-nav {
    font-size: 16px;
    padding: 15px 10px;
  }

  .ose-nav-item:first-of-type {
    padding-top: 15px;
  }

  .ose-footer {
    background: #75140C;
    color: #fff;
    padding: 80px 40px;
  }

  .ose-footer__logo {
    width: 225px;
  }
}
