{% extends "layout.html" %}

{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/gallery/index.css') }}">

{{
  page_heading(
    title="Visualizations Gallery",
  )
}}

<div class="container py-4">
  {{
    gallery_item(
      title="U.S. Total Nonfarm Employment Normalized Peak Plot",
      body="""
      Explore the progress of U.S. total nonfarm monthly employment
      (PAYEMS, seasonally adjusted) in the first months of the last
      15 recessions (1929-2020).
      """,
      url="/gallery/usempl_npp",
      image=url_for('static', filename='images/usempl_npp.png'),
    )
  }}

  {{
    gallery_item(
      title="DJIA Normalized Peak Plot",
      body="""
        Explore the performance of the Dow Jones Industrial Average in the
        initial months of the last 15 recessions (1929-2020).
        """,
      url="/gallery/djia_npp_mth",
      image=url_for('static', filename='images/djia_npp_mth.png'),
    )
  }}

  {{
    gallery_item(
      title="Overlapping Generations Model",
      body="""
        Explore various aggregate and individual macroeconomic variables over time
        with both 3D and 2D plots.
        """,
      url="/gallery/overlapping_generations",
      image=url_for('static', filename='images/overlapping_generations.png'),
    )
  }}

  {{
    gallery_item(
      title="Marginal Effective Tax Rates on Corporate Investments",
      body="""
        Explore the effects of tax reforms on corporate investments in equipment
        and structure assets.
        """,
      url="/gallery/marginal_effective_corporate_taxes",
      image=url_for('static', filename="images/marginal_effective_corporate_taxes.png"),
    )
  }}

  {{
    gallery_item(
      title="Tax Increase vs. Tax Decrease",
      body="""
        Explore the changes units with tax cuts or tax increases by income over a span of 10 years.
        """,
      url="/gallery/tax_increase_decrease",
      image=url_for('static', filename="images/tax_increase_decrease.png"),
    )
  }}
</div>

{% endblock %}
