.home-slide {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 0 0 100%;
  height: 100%;
  padding: 0 80px;
  position: relative;
  transition: transform 0.4s;
  width: 100%;
  z-index: 1;
}

.home-slide:before {
  bottom: 0;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.home-slide--transparent:before {
  background: transparent;
}

.home-slide--red,
.home-slide--gray {
  color: white;
}

.home-slide--red:before {
  background: #75140C;
  opacity: 0.5;
}

.home-slide--gray:before {
  background: #222;
  opacity: 0.5;
}

.home-slide__content {
  max-width: 450px;
  padding: 40px 0;
  z-index: 1;
}

.home-slide__title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
}

.home-slide__body h6 {
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.home-slide__pip-container {
  align-items: center;
  bottom: 15px;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.home-slide__pip {
  cursor: pointer;
  margin: 0 4px;
  opacity: 0.5;
  padding: 10px 0;
  transition: 0.2s opacity;
  width: 35px;
}

.home-slide__pip:after {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}

.home-slide__pip--active {
  opacity: 1;
}

.home-slide__arrow {
  align-items: center;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 3;
  user-select: none;
}

.home-slide__arrow--left {
  left: 0;
}

.home-slide__arrow--right {
  right: 0;
}

.home-slide__arrow__icon {
  width: 15px;
}

@media all and (max-width: 768px) {
  .home-slide {
    padding: 0 45px;
  }

  .home-slide__arrow {
    width: 35px;
  }
}
