body {
  background: #fff;
  color: #2B2B2B;
  font-family: Roboto, Helvetica, Arial, sans;
  margin: auto;
  max-width: 1440px;
}

.osm-nav {
  z-index: 10;
}

.osm-nav-item {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
