{% from 'components/floating_arrow_link.html' import floating_arrow_link with context %}

{% from 'components/gallery_item.html' import gallery_item with context %}
{% from 'components/home_card.html' import home_card with context %}
{% from 'components/home_slide.html' import home_slide with context %}
{% from 'components/slideshow_arrows.html' import slideshow_arrows with context %}
{% from 'components/slideshow_pips.html' import slideshow_pips with context %}
{% from 'components/page_heading.html' import page_heading with context %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The Open Source Economics Laboratory (OSE Lab) at the University of Chicago provides training and supports macroeconomic research and open source methods." />

  <title>{{ title }}</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="{{ url_for('static', filename='logo_small.png') }}">
  <meta property="og:description" content="The Open Source Economics Laboratory (OSE Lab) provides training and supports macroeconomic research and open source methods.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@OSE_Lab">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="The Open Source Economics Laboratory (OSE Lab) provides training and supports macroeconomic research and open source methods.">
  <meta name="twitter:image" content="{{ url_for('static', filename='logo_small.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  {% assets 'stylesheets' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
</head>

<html>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light ose-nav container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/ose_wordmark.png') }}" class="ose-navbar-logo" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ose-nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>

          <li class="nav-item ose-nav-item">
            <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
          </li>

          <li class="nav-item ose-nav-item">
            <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="ose-main">
      {% block body %}{% endblock %}
    </main>

    <footer class="ose-footer">
      <div class="footer-container">
        <h2>OSE Lab</h2>

        <div class="ose-footer__icons-container">
          <a href="https://twitter.com/OSE_Lab" target="_blank">
            <img
              alt="OSE Lab on Twitter"
              class="ose-footer__icon"
              src="{{ url_for('static', filename='images/twitter_icon.svg') }}"
            />
          </a>

          <a href="https://github.com/OpenSourceEcon" target="_blank">
            <img
              alt="OSE Lab on GitHub"
              class="ose-footer__icon"
              src="{{ url_for('static', filename='images/github_icon.svg') }}"
            />
          </a>
        </div>
      </div>
    </footer>

    {% assets 'vendor_javascripts' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets 'javascripts' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
  </body>
</html>
