{% extends "layout.html" %}

{% block body %}
<div class="home-header">
  <div class="home-header__brand">
    <div class="home-header__brand__logo">
      <img src="{{ url_for('static', filename='images/logo_horizontal.png') }}" class="img-fluid" />
    </div>
    <h2 class="home-header__brand__description">
      Open access and open source computational economics
      <ul class="home-header__brand__list">
        <li>Curriculum</li>
        <li>Research</li>
        <li>Policy</li>
        <li>Collaboration</li>
      </ul>
    </h2>
  </div>
  <div class="home-header__slideshow">
    {{
      home_slide(
        body="""
        ###### It was such a great experience to participate in the [OSE] Bootcamp. After participating in the program, I got a research assistant position simply by just showing the professor my Github and all of the cool Math/Econ/Computation we did in the [OSE] lab.

        _-Alex Weinberg, University of Chicago_
        """,
        background_image=url_for('static', filename='images/oselab-home-1.jpg'),
        cover_color="gray"
      )
    }}

    {{
      home_slide(
        body="""
        The 2018 OSE Lab cohort at the end of the Boot Camp in front of Saieh Hall at the University of Chicago (August 3, 2018).
        """,
        background_image=url_for('static', filename='images/oselab-home-2.jpg')
      )
    }}

    {{
      home_slide(
        body="""
        Lars Hansen instructs OSE Lab students about macro financial modeling, asset pricing, and model uncertainty (July 11, 2018, Saieh Hall, University of Chicago).
        """,
        background_image=url_for('static', filename='images/oselab-home-4.jpg'),
        cover_color="red",
        background_position="left center",
      )
    }}

    {{
      home_slide(
        body="""
        The 2017 OSE Lab cohort at the end of the Boot Camp in front of Saieh Hall at the University of Chicago (August 4, 2017).
        """,
        background_image=url_for('static', filename='images/oselab-home-3.jpg'),
        cover_color="gray"
      )
    }}


    {{ slideshow_pips() }}
    {{ slideshow_arrows() }}
  </div>
</div>

<div class="latest-section">
  <div class="container-fluid">
    <h3 class="latest-section__heading">Latest from OSE Lab</h3>

    <div class="latest-section__cards-container">
      {{
        home_card(
          title="Applications open for 2019 OSE Lab Summer Boot Camp",
          body="""
            Applications are now open for the six-week OSE Lab Summer Boot Camp 2019 at the University of Chicago from July 1 to August 9. The boot camp encourages applications from PhD, masters, and advanced undergraduate students in economics. Admitted students receive a $4,000 stipend and OSE Lab pays for housing and travel to and from Chicago. The deadline to apply is March 15. Follow the link below to learn more and apply.
          """,
          link={
            "url": url_for('bootcamp_2019'),
            "text": "More information",
          }
        )
      }}

      {{
        home_card(
          title="2019 OSE Lab Boot Camp teams up with Econometric Society Dynamic Structural Economics Workshop",
          body="""
            We are excited to announce that the 2019 OSE Lab Boot Camp has partnered with the Econometric Society Dynamic Structural Economics Workshop and Conference for our summer boot camps for the next three years. This year, during second week of the OSE Lab Boot Camp, July 8 through July 14, OSE Lab students will join with the other participants in the Dynamic Structural Economics Workshop and the associated two-day conference to learn discrete choice dynamic programming, structural estimation, and dynamic games.
          """,
        )
      }}

      {{
        home_card(
          title="Evans presents open source policy model in Washington, DC",
          body="""
            OSE Lab Director [Richard Evans](https://sites.google.com/site/rickecon/) was a speaker at the Policy Simulation Library Meet-up in Washington, DC at the American Enterprise Institute on January 29, 2019. Evans showed participants how to use the open source [OG-USA model](https://github.com/PSLmodels/OG-USA) for dynamic analysis of federal tax policy changes. Video of the talk is available [here](https://youtu.be/jo_PMPipne0?t=622) (Evans talk starts at minute 10:29) and slides from the talk are [here](https://sites.google.com/site/rickecon/PSLmeetup.pdf).
          """,
        )
      }}
    </div>
  </div>
</div>
{% endblock %}
