{% extends "layout.html" %}

{% block body %}
<div class="home-header">
  <div class="home-header__brand">
    <div class="home-header__brand__logo">
      <img src="{{ url_for('static', filename='images/logo_horizontal.png') }}" class="img-fluid" />
    </div>
    <h2 class="home-header__brand__description">
      Open access and open source computational economics
      <ul class="home-header__brand__list">
        <li>Curriculum</li>
        <li>Research</li>
        <li>Policy</li>
        <li>Collaboration</li>
      </ul>
    </h2>
  </div>
  <div class="home-header__slideshow">
    {{
      home_slide(
        body="""
        ###### It was such a great experience to participate in the [OSE] Bootcamp. After participating in the program, I got a research assistant position simply by just showing the professor my Github and all of the cool Math/Econ/Computation we did in the [OSE] lab.

        _-Alex Weinberg, University of Chicago_
        """,
        background_image=url_for('static', filename='images/oselab-home-1.jpg'),
        cover_color="gray"
      )
    }}

    {{
      home_slide(
        body="""
        The 2018 OSE Lab cohort at the end of the Boot Camp in front of Saieh Hall at the University of Chicago (August 3, 2018).
        """,
        background_image=url_for('static', filename='images/oselab-home-2.jpg')
      )
    }}

    {{
      home_slide(
        body="""
        Lars Hansen instructs OSE Lab students about macro financial modeling, asset pricing, and model uncertainty (July 11, 2018, Saieh Hall, University of Chicago).
        """,
        background_image=url_for('static', filename='images/oselab-home-4.jpg'),
        cover_color="red",
        background_position="left center",
      )
    }}

    {{
      home_slide(
        body="""
        The 2017 OSE Lab cohort at the end of the Boot Camp in front of Saieh Hall at the University of Chicago (August 4, 2017).
        """,
        background_image=url_for('static', filename='images/oselab-home-3.jpg'),
        cover_color="gray"
      )
    }}


    {{ slideshow_pips() }}
    {{ slideshow_arrows() }}
  </div>
</div>

<div class="latest-section">
  <div class="container-fluid">
    <h3 class="latest-section__heading">Latest from OSE Lab</h3>

    <div class="latest-section__cards-container">
      {{
        home_card(
          title="2020 OSE Lab Summer Boot Camp Postponed",
          body="""
            We are sorry to announce that OSE Lab will not be hosting the boot camp this summer 2020 due to our funding not being renewed. We are grateful for the generous support of the Charles Koch Foundation and University of Chicago over the last three years. OSE Lab will be searching for new funding for a summer 2021 boot camp and beyond. In the meantime, OSE Lab will continue to support its current research initiatives and student researchers. Thanks to all the students, instructors, and staff who have made the OSE Lab such a stimulating and collaborative network over the last three years. We look forward to continued future developments.
          """,
          link={
            "url": url_for('bootcamp_2020'),
            "text": "2020 boot camp postponed announcement",
          }
        )
      }}

      {{
        home_card(
          title="2020 Econometric Society Dynamic Structural Economics Workshop and Conference",
          body="""
            The Econometric Society Dynamic Structural Econometrics Summer School and Conference will be held At the University of Zurich (UZH) in Zurich, Switzerland, June 15-21, 2020. The theme is''Methodology and Applications in Environmental Economics and Climate Change''. The main page for information about the summer school and conference is [https://dseconf.org/](https://dseconf.org/).
          """,
        )
      }}

      {{
        home_card(
          title="2019 OSE Lab Boot Camp teams up with Econometric Society Dynamic Structural Economics Workshop",
          body="""
            We are excited to announce that the 2019 OSE Lab Boot Camp has partnered with the Econometric Society Dynamic Structural Economics Workshop and Conference for our summer boot camps for the next three years. This year, during second week of the OSE Lab Boot Camp, July 8 through July 14, OSE Lab students will join with the other participants in the Dynamic Structural Economics Workshop and the associated two-day conference to learn discrete choice dynamic programming, structural estimation, and dynamic games.
          """,
        )
      }}
    </div>
  </div>
</div>
{% endblock %}
